@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    height: 50px;
    border-top: 4px solid black;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}
footer p {
    margin: 10px auto;
}
body main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
}
main a {
    color: #53bb3e;
    font-weight: bold;
    text-decoration: none;
}
main p {
    margin: 10px 0;
}
main form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
main input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
main button {
    padding: 10px;
    background: #050000;
    border: unset;
    cursor: pointer;
}
main .msg {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: red;
}